<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>stu_reg_config</servlet-name>
  	<servlet-class>cml.servlet.stu_reg_config</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>stu_reg_config</servlet-name>
  	<url-pattern>/stu_reg_config</url-pattern>
  </servlet-mapping>
	<servlet>
  	<servlet-name>login_config</servlet-name>
  	<servlet-class>cml.servlet.login_config</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>login_config</servlet-name>
		<url-pattern>/login_config</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tea_reg_config</servlet-name>
		<servlet-class>cml.servlet.tea_reg_config</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tea_reg_config</servlet-name>
		<url-pattern>/tea_reg_config</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>select</servlet-name>
		<servlet-class>cml.stu.select</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>select</servlet-name>
		<url-pattern>/select</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stu_alter</servlet-name>
		<servlet-class>cml.stu.stu_alter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stu_alter</servlet-name>
		<url-pattern>/stu_alter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>alter</servlet-name>
		<servlet-class>cml.tea.alter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>alter</servlet-name>
		<url-pattern>/alter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>input</servlet-name>
		<servlet-class>cml.tea.input</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>input</servlet-name>
		<url-pattern>/input</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>set</servlet-name>
		<servlet-class>cml.tea.set</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>set</servlet-name>
		<url-pattern>/set</url-pattern>
	</servlet-mapping>
</web-app>